<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="conn" connectionString="Server=387ab760-e181-4370-865a-a381009ec9be.sqlserver.sequelizer.com;Database=db387ab760e1814370865aa381009ec9be;User ID=okmmmajwhebunkvc;Password=4r5RGu4ETVqzJKCjfYQhBt65ihU85jtDCVKfa7sAbXPoZEZwGAMLt3RHt8HyG5HJ;"/>
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies></compilation>
	</system.web>
</configuration>
